In [21]:
import pandas as pd 

df = pd.read_csv('./full-all-2-with-headers.csv', encoding='utf-16')

In [22]:
df["name"]

0             Pooya Movahed
1              Yao Xie, CFA
2             Xiaozhou Shen
3              Yacine Brini
4        Wai Kit, (Eddy) Y.
               ...
345        Mårten Björketun
346            BH (Sam) Tan
347              Nur Aqilah
348             Fares Hasan
349    Poo Kuan Hoong, Ph.D
Name: name, Length: 350, dtype: object

In [23]:
df["experiences"]

0      [{'titles': ['ExxonMobil', 'Data Scientist', '...
1      [{'titles': ['Data Scientist 2'], 'exp': ['Pay...
2      [{'titles': ['Data Scientist'], 'exp': ['Bayer...
3      [{'titles': ['Senior Data Scientist'], 'exp': ...
4      [{'titles': ['Micron Technology', 'Senior Data...
                             ...
345    [{'titles': ['Principal Data Scientist'], 'exp...
346    [{'titles': ['Assistant Officer'], 'exp': ['DO...
347    [{'titles': ['Data Scientist'], 'exp': ['Intel...
348    [{'titles': ['Lead Data Scientist'], 'exp': ['...
349    [{'titles': ['Lead Data Scientist, RGM'], 'exp...
Name: experiences, Length: 350, dtype: object

In [24]:
df["educations"]

0      [['Doctor of Philosophy (Ph.D.), Mechanical En...
1      [['Master of Science - MS, Computer Science', ...
2      [['Master of Science - MS, Computer Science', ...
3      [['Master of Engineering (M.Eng.), Industrial ...
4      [['Bachelor of Science (B.Sc.), Computer Scien...
                             ...
345    [['Doctor of Philosophy - PhD, Physics', '2002...
346    [['Master of Data Science, Data Science', '201...
347    [['Doctor of Philosophy - PhD, Artificial Inte...
348    [["Bachelor's in Information Science and Techn...
349    [['Ph.D, Distributed System', '2004 - 2008'], ...
Name: educations, Length: 350, dtype: object

In [25]:
df["skills"]

0      ['Hydrodynamic instabilities', 'Machine Learni...
1      ['Financial Modeling', 'Quantitative Analytics...
2      ['Fortran', 'C (Programming Language)', 'C++',...
3      ['MySQL', 'Python', 'French', 'English', 'Entr...
4      ['C#', 'Ruby on Rails', 'C++', 'Amazon Web Ser...
                             ...
345    ['Nanotechnology', 'Physics', 'Surface Chemist...
346    ['Teamwork', 'Data Science', 'Data Analysis', ...
347    ['Machine Learning', 'R (Programming Language)...
348    ['Machine Learning', 'C#', 'Artificial Intelli...
349    ['Machine Learning', 'C++', 'Web Applications'...
Name: skills, Length: 350, dtype: object

In [49]:
# Quick look

import json

skills = []
for each_person_skills in df["skills"]:
    each_person_skills_convert = each_person_skills.replace("'", "\"")
    each_person_skills_convert_list = json.loads(each_person_skills_convert)
    for each_person_each_skill in each_person_skills_convert_list:
        skills.append(each_person_each_skill.lower())
        
print(f"total skills captured: {len(skills)}, unique by words: {len(list(set(skills)))}")

total skills captured: 5830, unique by words: 1310